:root {
  --maincolor: #08bc17;
  --secondclr: #2b58ea;
  --thirdcolor: #Ff6600;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section#contact {
  background-image: url('../images/contact.jpg');
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 100px 0;
  text-align: center;
  opacity: 0.9;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #777777;
  /* Slightly grey text */
  font-size: 16px;
  /* Increased font size */
  border: 1px solid black;
}

form input ::placeholder,
form textarea ::placeholder {
  color: #999999;
  /* Slightly grey placeholder text */
  font-size: 16px;
  /* Increased font size */
}

/*form textarea {
    height: 150px;
  }
*/
form input[type="submit"] {
  background-color: #FF6600;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #FF9933;
}

footer {
  background: #f58025;
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  section#contact {
    padding: 50px 0;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  form input,
  form textarea {
    font-size: 14px;
  }

  form input[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  form input,
  form textarea {
    font-size: 14px;
  }

  form input[type="submit"] {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
  }
}